################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
*.trx
/tests/Apex.Runtime.Tests/coverage.cobertura.xml
